.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: white;
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: grey;
    margin-bottom: 30px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 34px;
    line-height: 29px;
}

.comment-container {
    height: 40%;
    width: 70%;
    border-radius: 15px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #FFFF88;
    padding: 10px;
    overflow-x: auto;
    font-size: 26px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px;
    margin-top: 30px;
    outline: none;
    transition: all 0.33s;
    border: 2px solid grey;
    background-color: aliceblue;
    border-radius: 10px;
    font-size: 25px;
}

.button:hover {
    background-color: grey;
    color: white;
    cursor: pointer;
}